<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    <%= title %>
  </title>
</head>

<body>
  <h1>
    <%= title %>
  </h1>
  <form id="updateForm" class="px-4">

    <div class="form-group my-4">
      <label for="name">Name:</label>
      <input type="text" class="form-control" id="name" name="name" required value="<%=userFound.name%>">
    </div>

    <div class="form-group my-4">
      <label for="name">Department:</label>
      <input type="text" class="form-control" id="department" name="department" required
        value="<%=userFound.department%>">
    </div>

    <div class="form-group my-4">
      <label for="name">subDepartment:</label>
      <input type="text" class="form-control" id="subDepartment" name="subDepartment" required
        value="<%=userFound.subDepartment%>">
    </div>

    <div class="form-group my-4">
      <label for="name">type:</label>
      <input type="text" class="form-control" id="type" name="type" required value="<%=userFound.type%>">
    </div>

    <div class="form-group my-4">
      <h3>Courses Info</h3>
    </div>
    <% let i=1; %>

      <% for (const course of userFound.courses) { %>
        <div class="form-group my-4">
          <h4>Course <%= i%>:</h4>
        </div>
        <div class="form-group my-4">
          <label for="name">Course name<%= i%>:</label>
          <input type="text" class="form-control" id="courses<%= i%>.name" name="courses<%= i%>.name" required
            value="<%=course.name %>">
        </div>

        <div class="form-group my-4">
          <label for="name">c_hours:</label>
          <input type="number" class="form-control" id="courses<%= i%>.c_hours" name="courses<%= i%>.c_hours" required
            value="<%=course.c_hours%>">
        </div>

        <div class="form-group my-4">
          <label for="name">year_works:</label>
          <input type="number" class="form-control" id="courses<%= i%>.year_works" name="courses<%= i%>.year_works"
            required value="<%=course.year_works%>">
        </div>

        <div class="form-group my-4">
          <label for="name">reExam_year_works:</label>
          <input type="number" class="form-control" id="courses<%= i%>.reExam_year_works"
            name="courses<%= i%>.reExam_year_works" required value="<%=course.reExam_year_works%>">
        </div>

        <div class="form-group my-4">
          <label for="name">oral_p:</label>
          <input type="number" class="form-control" id="courses<%= i%>.oral_p" name="courses<%= i%>.oral_p" required
            value="<%=course.oral_p%>">
        </div>

        <div class="form-group my-4">
          <label for="name">reExam_oral_p:</label>
          <input type="number" class="form-control" id="courses<%= i%>.reExam_oral_p"
            name="courses<%= i%>.reExam_oral_p" required value="<%=course.reExam_oral_p%>">
        </div>

        <div class="form-group my-4">
          <label for="name">written:</label>
          <input type="number" class="form-control" id="courses<%= i%>.written" name="courses<%= i%>.written" required
            value="<%=course.written%>">
        </div>

        <div class="form-group my-4">
          <label for="name">reExam_written:</label>
          <input type="number" class="form-control" id="courses<%= i%>.reExam_written"
            name="courses<%= i%>.reExam_written" required value="<%=course.reExam_written%>">
        </div>
        <div class="form-group my-4">
          <label for="name">course_total_degree:</label>
          <input type="number" class="form-control" id="courses<%= i%>.course_total_degree"
            name="courses<%= i++%>.course_total_degree" required value="<%=course.course_total_degree%>" disabled>
        </div>


        <% } %>

          <div id="coursesContainer">
            <!-- Course inputs will be dynamically added here -->
          </div>

          <div class="form-group my-4">
            <div class="d-grid gap-2">
              <button type="button" onclick="addCourse()" class="btn btn-secondary">Add Course</button>
            </div>
          </div>

          <div class="form-group my-4">
            <input type="number" id="courseCount" value="<%=i-1%>" hidden>
          </div>

          <div class="form-group my-4">
            <div class="d-grid gap-2">
              <button type="button" class="btn btn-primary">Update Student</button>
            </div>
          </div>

  </form>

  <script>

    let courseCount = Number(document.getElementById(`courseCount`).value) + 1;
    const courseCountInput = document.getElementById(`courseCount`);

    function fetchCourses(courseIndex) {
      const department = document.getElementById('department').value;
      const subDepartment = document.getElementById('subDepartment').value;

      fetch(`/api/courses?department=${department}&subDepartment=${subDepartment}`)
        .then((response) => response.json())
        .then((data) => {
          const selectElement = document.getElementsByName(`courses[${courseIndex}][name]`)[0];
          selectElement.innerHTML = '';
          data.courses.forEach((course) => {
            const option = document.createElement('option');
            option.value = course.name;
            option.textContent = course.name;
            selectElement.appendChild(option);
          });
        })
        .catch((error) => {
          console.error('Error fetching courses:', error);
        });
    }

    function handleDepartmentChange() {
      const coursesContainer = document.getElementById('coursesContainer');
      const courseSections = coursesContainer.children;
      for (let i = 0; i < courseSections.length; i++) {
        fetchCourses(i);
      }
    }
    document.getElementById('department').addEventListener('change', handleDepartmentChange);
    document.getElementById('subDepartment').addEventListener('change', handleDepartmentChange);

    function addCourse() {
      const coursesContainer = document.getElementById('coursesContainer');
      const courseIndex = courseCount;
      courseCount = courseCount + 1;

      const newCourseDiv = document.createElement('div');
      newCourseDiv.innerHTML = `
        <div class="form-group my-4">
          <h4>Course ${courseIndex}:</h4>
        </div>
        <div class="form-group my-4">
          <label for="courseName">Course Name:</label>
          <select id="courses${courseIndex}.name" name="courses[${courseIndex}][name]" class="form-control" required>
            <option value="" disabled selected>Select Course</option>
          </select>
        </div>

        <div class="form-group my-4">
          <label for="courseHours">Course Hours:</label>
          <input id="courses${courseIndex}.c_hours" type="number" name="courses[${courseIndex}][c_hours]" class="form-control" required>
        </div>

        <div class="form-group my-4">
          <label for="courseYearWorks">Year Works:</label>
          <input id="courses${courseIndex}.year_works" type="number" name="courses[${courseIndex}][year_works]" class="form-control" required>
        </div>
        
        <div class="form-group my-4">
          <label for="name">reExam_year_works:</label>
          <input type="number" class="form-control" id="courses${courseIndex}.reExam_year_works"
            name="courses${courseIndex}.reExam_year_works" required value=0>
        </div>

        <div class="form-group my-4">
          <label for="courseOralP">Oral P:</label>
          <input id="courses${courseIndex}.oral_p" type="number" name="courses[${courseIndex}][oral_p]" class="form-control" required>
        </div>

        <div class="form-group my-4">
          <label for="name">reExam_oral_p:</label>
          <input type="number" class="form-control" id="courses${courseIndex}.reExam_oral_p"
            name="courses${courseIndex}.reExam_oral_p" required value=0>
        </div>

        <div class="form-group my-4">
          <label for="courseWritten">Written:</label>
          <input id="courses${courseIndex}.written" type="number" name="courses[${courseIndex}][written]" class="form-control" required>
        </div>

        <div class="form-group my-4">
          <label for="name">reExam_written:</label>
          <input type="number" class="form-control" id="courses${courseIndex}.reExam_written"
            name="courses${courseIndex}.reExam_written" required value=0>
        </div>

        <div class="form-group my-4">
          <label for="courseTotalDegree">Course Total Degree:</label>
          <input id="courses${courseIndex}.course_total_degree" type="number" name="courses[${courseIndex}][course_total_degree]" class="form-control" required>
        </div>
      `;
      courseCountInput.value = courseIndex;
      coursesContainer.appendChild(newCourseDiv);

      fetchCourses(courseIndex); // Fetch courses for the newly added section
    }
  </script>

  <script>

    const updateButton = document.querySelector('.btn-primary');
    updateButton.addEventListener('click', () => {

      const courseCount = document.getElementById(`courseCount`).value;
      const coursesArr = [];

      let courseName;
      let cHours;
      let yearWorks;
      let reExamYearWorks;
      let oralP;
      let reExam_oral_p;
      let written;
      let reExamWritten;
      let reExam;
      let course;
      let course_total_degree;
      for (let i = 1; i <= courseCount; i++) {

        const courseName = document.getElementById(`courses${i}.name`).value;
        const cHours = document.getElementById(`courses${i}.c_hours`).value;
        const yearWorks = document.getElementById(`courses${i}.year_works`).value;
        const reExamYearWorks = document.getElementById(`courses${i}.reExam_year_works`).value;
        const oralP = document.getElementById(`courses${i}.oral_p`).value;
        const reExam_oral_p = document.getElementById(`courses${i}.reExam_oral_p`).value;
        const written = document.getElementById(`courses${i}.written`).value;
        const reExamWritten = document.getElementById(`courses${i}.reExam_written`).value;
        const course_total_degree = document.getElementById(`courses${i}.course_total_degree`).value;
        const course = {
          name: courseName,
          c_hours: cHours,
          year_works: yearWorks,
          reExam_year_works: reExamYearWorks,
          oral_p: oralP,
          reExam_oral_p: reExam_oral_p,
          written: written,
          reExam_written: reExamWritten,
          course_total_degree: course_total_degree
        };
        coursesArr.push(course);
      }

      const body = {
        name: document.getElementById('name').value,
        department: document.getElementById('department').value,
        subDepartment: document.getElementById('subDepartment').value,
        type: document.getElementById('type').value,
        courses: coursesArr,
      };

      const id = location.pathname.split('/')[2];
      const url = `/update/${id}`;
      const fetchOptions = {
        method: 'PUT',
        body: JSON.stringify(body),
        headers: {
          'Content-Type': 'application/json',
        },
      };

      const typeValidate = document.getElementById('type').value;
      const validSubDepartments = ['تمهيدي', 'ماجستير الهندسه', 'ماجستير العلوم', 'دكتوراه'];
      if (!validSubDepartments.includes(typeValidate)) {
        alert('Invalid subDepartment value. The valid values are: \n' + validSubDepartments.join(', '));
        return;
      }


      fetch(url, fetchOptions)
        .then((response) => {
          console.log(response);
          if (response.status == 200) {
            return response.json(); // Parse the response body as JSON
          } else {
            throw new Error('Error updating student');
          }
        })
        .then((data) => {
          window.location.href = '/views/index'; // Redirect to /dash
        })
        .catch((error) => {
          console.log('Error updating student:', error);
        });

    });
  </script>

</body>

</html>
<script>
  const searchForm = document.getElementById('searchForm');
  if (searchForm) {
    searchForm.style.display = 'none';
  }
</script>